$flex-levels: 1, 2, 3, 4;
$bezier: cubic-bezier(.43,.84,.79,.99);
$global-padding: 15px;
$chrome-height: 38px;
$border-radius: 4px;

// colors
$body-color: #757575;
$accent-color: #0079ff;
$secondary-color: #00ffc4;;
$live-color: $accent-color;
$killed-color: red;