@import 'variables';

.diffs {
  padding: $global-padding;

  & > *:first-child {
    padding-right: 10px;
  }
}

.diff {
  background: $box-color;
  border-radius: $border-radius;
  font-family: 'Roboto Mono', monospace;
  padding: $global-padding;
  overflow-x: scroll;
}

.diff-title {
  color: $text-light;
  font-size: 12px;

  margin-bottom: 5px;
}
