@import 'variables';

.diffs {
    padding: $global-padding;
}

.diff {
    background: $box-color;
    border-radius: $border-radius;

    font-family: 'Roboto Mono', monospace;
    padding: $global-padding;
}

.diff-title {
    color: $text-light;
    font-size: 12px;

    margin-bottom: 5px;
}
