@import 'variables';
@import 'mixins';

#explorer {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#file-tree, #mutation-list {
  padding: 40px 15px 15px;
}

#file-tree {
  background: #f3f3f5;
  height: 100vh;
  color: #636363;

  ul {
    list-style-type: none;
    @include disableSelect();
    cursor: default;

    li {
      font-size: 1em;
    }
  }

  & > ul {
    margin: 0;
    padding: 0;

    li { 
      ul {
        padding-left: 5px;
        padding-top: 5px;

        li {
          padding: 5px;
          cursor: pointer;
          color: #a5a5a5;

          &:hover { color: $body-color; }
          &.active {
            color: $accent-color;
          }
        }
      }
    }
  }
}