@import 'variables';
@import 'mixins';

#explorer {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#file-tree {
  padding: 40px 15px 15px;
}

#file-tree {
  background: $box-color;
  height: 100vh;
  overflow: scroll;
  color: $text-dark;

  ul {
    list-style-type: none;
    @include disableSelect();
    cursor: default;

    li {
      font-size: 1em;
      white-space: nowrap;

      &.type-CLASS {
        cursor: pointer;

        &:hover { color: $body-color; }
        &.active {
          color: $accent-color;
        }
      }
    }
  }

  & > ul {
    margin: 0;
    padding: 0;

    li {
      ul {
        padding-left: 5px;
        padding-top: 5px;

        li {
          padding: 5px;
          color: $text-light;
        }
      }
    }
  }
}
