@import 'variables';
@import 'mixins';

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  color: $body-color;
}

i.fa {
  margin-right: 5px;
}

.killed {
  color: $killed-color;
}
.live {
  color: $live-color;
}

button {
  background: transparent;
  border: 2px solid lighten($body-color, 25);
  border-radius: $border-radius;
  padding: 5px 10px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 0.8em;
  color: $body-color;

  &:not([disabled]) {
    cursor: pointer;
    @include transition();
    @include scaleHover()

    &:hover {
      border-color: darken($body-color, 0);
    }
  }

  &.primary:not([disabled]) {
    color: $accent-color;
    border-color: $accent-color;
  }
  &.secondary:not([disabled]) {
    color: #17ff00;
    border-color: $secondary-color;
  }
}

.column-layout {
  display: flex;

  @each $i in $flex-levels {
    .column-#{$i} {
      flex: $i;
    }

    .column-#{$i}-left {
      flex: $i;
      padding-left: $global-padding / 2;
    }

    .column-#{$i}-right {
      flex: $i;
      padding-right: $global-padding / 2;
    }

    .column-#{$i}-mid {
      flex: $i;
      padding-left: $global-padding / 2;
      padding-right: $global-padding / 2;
    }
  }
}

.view {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  & > *:not(.window-chrome) {
    margin-top: -$chrome-height;
  }
}

.window-chrome {
  -webkit-app-region: drag;
  height: $chrome-height;
}

.container {
  padding: $global-padding;

  &.center-align {
    text-align: center;
  }
}

.animate {
  @include transition();

  &.fade {
    opacity: 0;
    &.in {
      opacity: 1;
    }
  }
}
